{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ],
    "@babel/preset-react",
    "minify"
  ],
  "ignore": ["src/assets/"],
  "plugins": ["@babel/plugin-transform-runtime"]
}
